@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
h1{
font-family: 'Kaushan Script', cursive;
text-align: right;
}
.menuItem {
  padding: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  opacity: 0;
  transition: 0.3s;
  color: white;
  pointer-events: none;
}
.menu {
  width:50px;
  height: 50px;
  background-color: tomato;
  transition: width 1s, height 1.4s ease-in-out;
  overflow: hidden;
}
.menu.out {
background-color: tomato;
  width:25vw;
  height: 0vh;
}
.menu.out .menuItem {
  opacity: 1;
  pointer-events: all;
}
