@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
h1{
font-family: 'Kaushan Script', cursive;
text-align: right;
}
.menuItem {
  padding: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  opacity: 0;
  transition: 0.3s;
  color: white;
  pointer-events: none;
}
.menu {
  width:50px;
  height: 50px;
  background-color: tomato;
  transition: width 1s, height 1.4s ease-in-out;
  overflow: hidden;
}
.menu.out {
background-color: tomato;
  width:25vw;
  height: 25vh;
}
.menu.out .menuItem {
  opacity: 1;
  pointer-events: all;
}
body {
        margin: 0;
      }

      @keyframes faze {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      .container {
        width: 100vw;
        height: 100vh;
        background: rgb(180,58,97);
background: radial-gradient(circle, rgba(180,58,97,1) 0%, rgba(253,29,29,1) 50%, rgba(252,210,69,1) 100%);
        animation: faze 10s infinite;
        background-size: 400% 400%;
      }
