@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* adds a font from google/online to use on the website */
p{
  font-family: 'Kaushan Script', cursive;
/* sets the font to the font imported from google */
font-size: 50px;
text-align: center;
}

h1 {
font-weight: bold;
/*makes the font bold */
font-size: 300%;
/*changes the font size */
text-align: center;
/* aligns the text to the centre of the page */
font-family: 'Kaushan Script', cursive;
background-color: tomato;
/*adds a background colour to the text */

}
div{
  border: 1px solid black;
  background-color: tomato;
}

h2 {
font-weight: bold;
/*makes the font bold */
font-size: 250%;
/*changes the font size */
text-align: center;
/* aligns the text to the centre of the page */
}


footer{
  /*adds a style to the footer on the page */
  background-color: tomato;
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
}
/* described the image style */
.image {
  display: block;
  width: 500px;
  height: auto;
}
/* sets the style whilst the menu opens */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 500px;
  height: 0;
  transition: .5s ease;
}
/* sets the text to be hidden when menu is not open */
.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* sets the items within the menu to the style below */
.menuItem {
  padding: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  opacity: 0;
  transition: 0.3s;
  color: white;
  pointer-events: none;
}
/* sets the menu style before being clicked */
.menu {
  width:50px;
  height: 50px;
  background-color: tomato;
  transition: width 1s, height 1.4s ease-in-out;
  overflow: hidden;
}
/* once clicked, this sets the extended menu out */
.menu.out {
background-color: tomato;
  width:25vw;
  height: 10vh;
}

.menu.out .menuItem {
  opacity: 1;
  pointer-events: all;
}

/*styles the slides and images to be set in the middle of the page */
* {box-sizing: border-box}
.mySlides1, .mySlides2, {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
