@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
h1{
font-family: 'Kaushan Script', cursive;
text-align: right;
}
.menuItem {
  padding: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  opacity: 0;
  transition: 0.3s;
  color: white;
  pointer-events: none;
}
.menu {
  width:50px;
  height: 50px;
  background-color: tomato;
  transition: width 1s, height 1.4s ease-in-out;
  overflow: hidden;
}
.menu.out {
background-color: tomato;
  width:25vw;
  height: 25vh;
}
.menu.out .menuItem {
  opacity: 1;
  pointer-events: all;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
